*{font-family: 'Roboto', sans-serif; box-sizing: border-box;}
html{font-size: 16px;}
body{font-size: 62.5%;}

.page{
	max-width: 1370px;
	margin: 0 auto;
	background-color: #333333;
}

a{
	text-decoration:none;
}
h1{
	margin: 0;
}
